/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-chart-main-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.zmiti-chart-main-ui h2 {
  height: 100px;
}

.zmiti-chart-main-ui .zmiti-char-date {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: #fff;
}

.zmiti-chart-main-ui .zmiti-char-date span {
  margin: 0 10px;
}

.zmiti-chart-main-ui .zmiti-char-date > section {
  -webkit-animation: move 6s infinite;
  animation: move 6s infinite;
}

@-webkit-keyframes move {
  50%, 60% {
    -webkit-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  80%, 90%, 100% {
    -webkit-transform: translate(0, -60px);
    transform: translate(0, -60px);
  }
}

.zmiti-chart-main-ui .zmiti-char-date > section > div:nth-of-type(2) span {
  color: #00fff2;
  margin: 0 5px;
}

.zmiti-chart-container {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.zmiti-chart-container > aside {
  -webkit-flex: 1;
  height: 96%;
  flex: 1;
  margin-left: 10px;
  box-sizing: border-box;
}

.zmiti-chart-container > aside:nth-of-type(1) {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 {
  height: 60vh;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv {
  flex: 1;
  -webkit-flex: 1;
  color: #e4e4e4;
  border-radius: 5px;
  font-size: 1.5vw;
}

.title {
  position: relative;
  padding-left: 20px;
  font-weight: bold;
}

.title.active {
  color: #00fff2;
}

.title:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 18px;
  background: #ffc600;
  left: 5px;
  top: 1.8vh;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv {
  margin-left: 10px;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  border: 1px solid #0e5c5f;
  border-radius: 5px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(1) {
  height: 50px;
  line-height: 50px;
  font-size: 1.3vw;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(1):after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2), .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(3) {
  flex: 3;
  width: 85%;
  margin: 0 auto;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div {
  flex: 2;
  -webkit-flex: 2;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:nth-of-type(1) {
  font-size: 1.2vw;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  margin-top: 2vh;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:nth-of-type(1) span {
  color: #00fff2;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:nth-of-type(1) > div {
  background: #0a1319;
  margin: 3px 0;
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  box-sizing: border-box;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:nth-of-type(2) {
  height: 20px;
  flex: none;
  display: none;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type {
  position: relative;
  flex: 3;
  -webkit-flex: 3;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  align-items: center;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-pc-pv, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-mobile-pv {
  flex: 1;
  -webkit-flex: 1;
  text-align: center;
  color: #ffc600;
  font-weight: bold;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-pc-pv img, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-mobile-pv img {
  width: 20px;
  margin-right: 10px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-pc-pv > div:nth-of-type(2), .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-mobile-pv > div:nth-of-type(2) {
  color: #e4e4e4;
  font-weight: normal;
  font-size: 1vw;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-mobile-pv {
  position: relative;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-mobile-pv:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
  left: 0;
  top: 0;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(2) > div:last-of-type .zmiti-mobile-pv img {
  width: auto;
  height: 20px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-pv > section:nth-of-type(3).zmiti-pv-list {
  flex: 4;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(1) {
  height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  line-height: 50px;
  border: 1px solid #0e5c5f;
  border-radius: 5px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(1) > div {
  font-weight: bold;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(1) > div:nth-of-type(1) {
  flex: 2;
  -webkit-flex: 2;
  box-sizing: border-box;
  color: #00fff2;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(1) > div:nth-of-type(1):after {
  content: '';
  width: 1px;
  position: absolute;
  right: 0;
  height: 100%;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(1) > div:nth-of-type(2) {
  flex: 3;
  -webkit-flex: 3;
  text-align: center;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(1) > div:nth-of-type(2) span {
  font-weight: bold;
  color: #00fff2;
  margin-left: 10px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(1) > div:nth-of-type(2) span img {
  width: 15px;
  vertical-align: middle;
  margin-top: -6px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(2) {
  margin: 10px 0;
  flex: 5;
  -webkit-flex: 5;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  text-align: center;
  border: 1px solid #0e5c5f;
  border-radius: 5px;
  align-items: center;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(2) > div {
  flex: 1;
  -webkit-flex: 1;
  font-size: 1.4vw;
  color: #00fff2;
  height: 100%;
  padding-top: 3.5vh;
  box-sizing: border-box;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(2) > div > section:nth-of-type(2) {
  font-weight: bold;
  margin: 10px 0;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(2) > div > section:nth-of-type(3) {
  color: #e4e4e4;
  font-size: 12px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(2) > div:nth-of-type(2) {
  position: relative;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(2) > div:nth-of-type(2):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(2) img {
  width: 2.5vw;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(3) {
  flex: 8;
  -webkit-flex: 8;
  border: 1px solid #0e5c5f;
  border-radius: 5px;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(3) > div:nth-of-type(1) {
  height: 50px;
  line-height: 50px;
  font-size: 1.3vw;
  position: relative;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(3) > div:nth-of-type(1):after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart1 .zmiti-trend > section:nth-of-type(3) > div:nth-of-type(2) {
  position: absolute;
  height: 90%;
  z-index: 1;
  bottom: 0;
  width: 105%;
  left: 0;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 {
  flex: 1;
  -webkit-flex: 1;
  margin-top: 10px;
  border: 1px solid #0e5c5f;
  border-radius: 5px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  position: relative;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2:before, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2:after {
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-channel-send, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-site-send {
  flex: 1;
  -webkit-flex: 1;
  position: relative;
  color: #e4e4e4;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-channel-send .zmiti-site, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-channel-send .zmiti-channel, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-site-send .zmiti-site, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-site-send .zmiti-channel {
  margin-top: -55px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-channel-send .title, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-site-send .title {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  z-index: 10;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-channel-send .title1, .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-site-send .title1 {
  margin-left: 120px;
}

.zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-channel-send > div:nth-of-type(2), .zmiti-chart-container > aside:nth-of-type(1) .zmiti-chart2 .zmiti-site-send > div:nth-of-type(2) {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  box-sizing: border-box;
}

.zmiti-chart-container > aside:nth-of-type(2) {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  color: #e4e4e4;
}

.zmiti-chart-container > aside:nth-of-type(2) > div {
  width: 99%;
  border-radius: 5px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C {
  height: 60vh;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking, .zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  border: 1px solid #0e5c5f;
  border-radius: 5px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .title, .zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking .title {
  height: 50px;
  line-height: 50px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  margin-top: 10px;
  border: none;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking > section {
  flex: 1;
  -webkit-flex: 1;
  position: relative;
  border: 1px solid #0e5c5f;
  border-radius: 5px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking > section:nth-of-type(1) {
  margin-right: 5px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking > section:nth-of-type(2) {
  margin-left: 5px;
  position: relative;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking > section:nth-of-type(2) .zmiti-hot-active-pie {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking > section:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50px;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking > section ul {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 180px;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  right: 0px;
  bottom: 0;
  color: #e4e4e4;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking > section ul li {
  flex: 1;
  text-align: center;
  height: 25px;
  line-height: 25px;
  margin: 0 8px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-active-ranking > section ul li.active {
  background: rgba(0, 255, 242, 0.2);
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .title > ul {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 200px;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #e4e4e4;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .title > ul li {
  flex: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin: 0 8px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .title > ul li.active {
  background: rgba(0, 255, 242, 0.2);
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  line-height: 34px;
  height: 34px;
  font-size: 14px;
  text-align: center;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li:nth-of-type(1) {
  font-size: 16px;
  margin-top: 10px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li:nth-of-type(1) div:nth-of-type(2) {
  text-align: center !important;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li .zmiti-news-pv {
  color: #00fff2;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li > div {
  flex: 3;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li > div:nth-of-type(1), .zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li > div:nth-of-type(2) {
  text-align: left;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li > div:nth-of-type(2) {
  flex: 7;
  -webkit-flex: 7;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li > div:nth-of-type(3) {
  flex: 2;
  -webkit-flex: 2;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-news-C .zmiti-new-ranking .zmiti-hotnews-list ul li > div:nth-of-type(1) {
  text-indent: 2em;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-seo {
  flex: 1;
  -webkit-flex: 1;
  margin-top: 10px;
  border: 1px solid #0e5c5f;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-seo .title {
  height: 50px;
  line-height: 50px;
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-seo .title:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-seo .zmiti-seo-info {
  flex: 1;
  -webkit-flex: 1;
  width: 94%;
  margin: 10px auto;
  background: linear-gradient(rgba(10, 111, 112, 0.3), rgba(10, 111, 112, 0.01));
}

.zmiti-chart-container > aside:nth-of-type(2) .zmiti-seo .zmiti-seo-info .zmiti-include-count {
  position: absolute;
  top: 0;
  left: 0;
  color: #00fff2;
  -webkit-transform: translate3d(-40%, 0, 0);
  transform: translate3d(-40%, 0, 0);
}

#container {
  transform-style: preserve-3d;
}

.dot {
  height: 2px;
  width: 2px;
  border-radius: 100%;
  position: absolute;
  z-index: 0;
  animation: sploosh 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: transparent;
}

@keyframes sploosh {
  0% {
    box-shadow: 0 0 0 0px rgba(59, 210, 193, 0.7);
    background: rgba(59, 210, 193, 0.7);
  }
  100% {
    box-shadow: 0 0 0 16px rgba(59, 210, 193, 0);
    background: rgba(59, 210, 193, 0);
  }
}

@-webkit-keyframes sploosh {
  0% {
    box-shadow: 0 0 0 0px rgba(59, 210, 193, 0.7);
    background: rgba(59, 210, 193, 0.7);
  }
  100% {
    box-shadow: 0 0 0 16px rgba(59, 210, 193, 0);
    background: rgba(59, 210, 193, 0);
  }
}

.zmiti-p {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  left: 4px;
  top: 34px;
  position: absolute;
  background: #3bd2c1;
}

.zmiti-p:after {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  left: -18%;
  top: -20%;
  border-radius: 50%;
  background: rgba(59, 210, 193, 0.5);
}
