/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.zmiti-page1-main-ui {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.zmiti-page1-main-ui > aside {
  position: relative;
  z-index: 100;
  height: 85%;
  margin-top: 90px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) {
  flex: 4;
  -webkit-flex: 4;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-C {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  width: 90%;
  margin: 0 5%;
  height: 98%;
  position: absolute;
  border-radius: 5px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-C > section {
  border: 1px solid #0e5c5f;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C {
  height: 20vh;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C > header {
  width: 100%;
  height: 6.5vh;
  line-height: 6.7vh;
  font-size: 1.2vw;
  color: #00fff2;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
  font-weight: bold;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C > header:before {
  content: '';
  position: absolute;
  left: 5px;
  width: 4px;
  background: #faf170;
  height: 1.4vw;
  top: 1vw;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C > header:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 2px;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  margin-top: 20px;
  position: relative;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
  left: 0;
  bottom: -18px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count > aside {
  flex: 1;
  -webkit-flex: 1;
  color: #00fff2;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count > aside > div {
  color: #fff;
  font-size: 12px;
  margin: 4px 0;
  font-weight: normal;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count > aside:nth-of-type(2) {
  position: relative;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count > aside:nth-of-type(2):before, .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count > aside:nth-of-type(2):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
  left: 0;
  top: 0;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count > aside:nth-of-type(2):after {
  left: auto;
  right: 0;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-header-C .zmiti-active-count > aside:nth-of-type(1) {
  color: #faf170;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user, .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui {
  color: #fff;
  width: 90%;
  margin: 2vh auto;
  height: 190px;
  border-radius: 5px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user .zmiti-active-title, .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui .zmiti-active-title {
  width: 80%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user .zmiti-active-title > aside:nth-of-type(1), .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui .zmiti-active-title > aside:nth-of-type(1) {
  flex: 2;
  -webkit-flex: 2;
  position: relative;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user .zmiti-active-title > aside:nth-of-type(1):after, .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui .zmiti-active-title > aside:nth-of-type(1):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #000;
  box-shadow: 0 0 1px 1px rgba(14, 92, 95, 0.6);
  right: 0;
  top: 0;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user .zmiti-active-title > aside:nth-of-type(1) > div:nth-of-type(1), .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui .zmiti-active-title > aside:nth-of-type(1) > div:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.4vw;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user .zmiti-active-title > aside:nth-of-type(1) > div:nth-of-type(2), .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui .zmiti-active-title > aside:nth-of-type(1) > div:nth-of-type(2) {
  font-size: 12px;
  margin-top: 10px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user .zmiti-active-title > aside:nth-of-type(2), .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui .zmiti-active-title > aside:nth-of-type(2) {
  flex: 2;
  -webkit-flex: 2;
  text-align: right;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user .zmiti-active-title > aside:nth-of-type(2) img, .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui .zmiti-active-title > aside:nth-of-type(2) img {
  width: 20px;
  margin-top: -3px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-waiting-user .zmiti-active-title > aside:nth-of-type(2) div, .zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-main-ui .zmiti-active-title > aside:nth-of-type(2) div {
  display: inline-block;
  border-radius: 5px;
  background: #8f1537;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.3vw;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser {
  width: 80%;
  margin: 20px auto 0;
  height: 50px;
  background: linear-gradient(rgba(255, 198, 0, 0.15), rgba(255, 198, 0, 0.04));
  position: relative;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-slider {
  width: 100%;
  height: 4px;
  background: #ffc600;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-slider .zmiti-active-slider-bar {
  width: 44%;
  background: #00fff2;
  height: 4px;
  position: absolute;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-slider .zmiti-active-slider-bar:after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -3px;
  background: inherit;
  content: '';
  right: 0;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside {
  flex: 1;
  -webkit-flex: 1;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside:nth-of-type(1) {
  padding-left: 10px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside:nth-of-type(1) label {
  color: #00fff2;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside:nth-of-type(2) {
  padding-right: 20px;
  text-align: right;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside:nth-of-type(2) label {
  color: #ffc600;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside:nth-of-type(2) span:before {
  border-radius: 0;
  background: #ffc600;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside label {
  font-size: 18px;
  font-weight: bold;
  background: #0a1319;
  position: relative;
  top: 2px;
  padding: 2px 8px;
  margin-left: 4px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside span {
  font-size: 12px;
  position: relative;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-active-takeuser .zmiti-active-waiting-user-count-C > aside span:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #00fff2;
  position: absolute;
  left: -8px;
  top: 5px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-list {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  margin: 5px auto 0;
  border: 1px solid #0e5c5f;
  box-sizing: border-box;
  color: #fff;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-list .zmiti-notice-list {
  margin: 20px auto;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-list .zmiti-notice-item {
  line-height: 40px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  font-size: 16px;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-list .zmiti-notice-item span {
  display: block;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-list .zmiti-notice-item span:nth-of-type(1) {
  color: #00fff2;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-list .zmiti-notice-item span:nth-of-type(2) {
  -webkit-flex: 1;
  flex: 1;
}

.zmiti-page1-main-ui > aside:nth-of-type(1) .zmiti-niceperson-list .zmiti-notice-item span:nth-of-type(3) {
  width: 80px;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) {
  flex: 5;
  -webkit-flex: 5;
  color: #fff;
  height: 85%;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) > div {
  height: 90%;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
  top: 0;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-all-pv {
  font-size: 1.2vw;
  font-weight: bold;
  width: 100%;
  height: 60px;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-all-pv span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 4px;
  padding: 0 3px;
  font-size: 1.7vw;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-all-pv label {
  margin: 20px 4px;
  display: inline-block;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-pv-list li {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  height: 30px;
  line-height: 30px;
  margin-top: 3px;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-pv-list li > aside {
  font-size: 12px;
  min-width: 100px;
  text-align: center;
  background: rgba(0, 254, 243, 0.2);
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-pv-list li > aside:nth-of-type(2) {
  font-size: 1.5vw;
  padding: 0 10px;
  background: linear-gradient(to right, rgba(0, 233, 255, 0.37), rgba(0, 233, 255, 0.04));
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-tag {
  width: 22vw;
  height: 18vh;
  position: absolute;
  top: 14%;
  left: 22%;
  overflow: hidden;
  font-size: 12px;
  color: #333;
  margin: 20px auto 0;
  text-align: center;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-tag a {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  font-family: Arial;
  text-decoration: none;
  margin: 0 10px 15px 0;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  padding: 1px 5px;
  display: inline-block;
  border-radius: 3px;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-tag a.zmiti-tag-1 {
  background: #666;
  color: #fff;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-tag a.zmiti-tag-2 {
  background: #F16E50;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-tag a.zmiti-tag-5 {
  background: #006633;
}

.zmiti-page1-main-ui > aside:nth-of-type(2) .zmiti-tag a:hover {
  background: #0099ff;
}
