/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-flow: row;
      flex-flow: row;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }
  .zmiti-map-container > aside:nth-of-type(1) {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    position: relative;
    z-index: 1; }
    .zmiti-map-container > aside:nth-of-type(1) > div {
      width: 100%;
      height: 100%; }
  .zmiti-map-container > aside:nth-of-type(2) {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 100%;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-flow: column;
        flex-flow: column; }
    .zmiti-map-container > aside:nth-of-type(2) div:nth-of-type(1) {
      height: 100px; }
    .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank {
      width: 90%;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -ms-flex-flow: column;
          flex-flow: column; }
      .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > header {
        width: 90%;
        margin: 0 auto;
        height: 40px;
        line-height: 40px;
        text-align: center;
        position: relative; }
        .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > header:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: -webkit-linear-gradient(top, rgba(43, 231, 254, 0.12), rgba(43, 231, 254, 0.01));
          background: linear-gradient(top, rgba(43, 231, 254, 0.12), rgba(43, 231, 254, 0.01)); }
      .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > ul {
        width: 100%;
        position: relative; }
        .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > ul:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: -webkit-linear-gradient(top, rgba(43, 231, 254, 0.12), rgba(43, 231, 254, 0.01));
          background: linear-gradient(top, rgba(43, 231, 254, 0.12), rgba(43, 231, 254, 0.01)); }
        .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > ul li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -webkit-flex;
          -ms-flex-flow: row;
              flex-flow: row;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 12px; }
          .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > ul li:first-of-type {
            font-size: 14px; }
            .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > ul li:first-of-type > section {
              text-align: center !important; }
          .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > ul li > section:nth-of-type(1) {
            -webkit-box-flex: 2;
                -ms-flex: 2;
                    flex: 2;
            text-align: left;
            padding-left: 3em;
            box-sizing: border-box; }
          .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > ul li > section:nth-of-type(2) {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1; }
          .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank > ul li > section:nth-of-type(3) {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1; }
      .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank .zmiti-charts-C {
        margin-top: 50px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -ms-flex-flow: column;
            flex-flow: column;
        height: 550px; }
        .zmiti-map-container > aside:nth-of-type(2) .zmiti-hot-news-rank .zmiti-charts-C > aside {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          -webkit-flex: 1; }
/*# sourceMappingURL=index.css.map */